@import '../../../theme.scss';

.wrapMobileDetail,
.deliveryExtranInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Change to a single column layout on smaller screens
  }
}

.selectContainer {
  p {
    margin: 0.8rem auto 0.5rem;
  }
}

.moreMobileOffers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary;
  padding: 10px 15px;
  color: $white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 1.5rem;

  button {
    background-color: $white;
    color: $black;
  }
}

.deliveryExtranInfo {
  div:first-child {
    font-size: 16px;
    color: $black;
  }
  margin-top: 2rem;
  font-size: 14px;
  color: $primary-hover;
}

.mobileDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $white;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 1rem;
  }
}

.fullGridrow {
  grid-column: span 2;
}

.deliveryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-size: 13px;
    color: $primary-hover;
  }
  .deliveryCompanyName {
    font-size: 14px;
    color: $secondary;
    margin-left: 10px;
  }
}

.mobileDetailPriceContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column; // Change to a single column layout on smaller screens
    align-items: flex-start; // Adjust alignment for smaller screens
  }
}

.mobileDetailOldPrice {
  color: $primary-hover;
  font-size: 13px;
  text-decoration-line: line-through;
  margin-left: 10px;
}

.mobileDetailNewPrice {
  font-size: 25px;
  color: $secondary;
}
